# Env files
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Coverage (optional)
.coverage
htmlcov/

# Local state files
apply_count_today.json
applied_jobs_history.json
headline_state.json
recommended_seen_jobs.json
run_history.json
*.html

# Build and deployment zips
*.zip